*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#logo{

	
}


body{
	font-family: 'Oxygen Mono', monospace;
	margin: 0 20%;
	background: #B8CFD2;/*#80a1a5;*/
	padding-top: 20px;
}

a{
	text-decoration: none;
}

h2{
	padding: 10px 0 10px;
}

.container{
	
}


section{

}


header{
	position:fixed;
	right: 0px;
	left: 0px;
	top:0px;

	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding: 10px 20% 5px;
	background: #80A0A5;
	background-size: 100%;
	background-repeat: no-repeat;
}

header nav  {

	

}


header nav ul li{
	display: inline-block;	
}

header nav ul li a {
	color: white;
}

main{
	background: white;
	padding: 3%;
	margin-top: 3%;
}
.inicio{

}

.inicio img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.mapa{
	width: 100%;
	padding: 20px 0;
}

footer{
	padding: 20px 0;
	border-top: solid 1px grey;
	border-bottom: solid 1px grey;
}

footer p{
	display: inline;	
}